/* Proficiencies */

/* Dark Mode (standard) */
:root {

    /* Logo Colors */
    --color-figma-border: rgb(39, 102, 60);
    --color-figma-background: rgba(39, 102, 60, 0.685);

    --color-java-border: rgb(102, 80, 39);
    --color-java-background: rgba(102, 80, 39, 0.685);

    --color-kotlin-border: rgb(97, 39, 102);
    --color-kotlin-background: rgba(97, 39, 102, 0.685);

    --color-flutter-border: rgb(39, 95, 102);
    --color-flutter-background: rgba(39, 95, 102, 0.685);

    --color-javascript-border: rgb(101, 102, 39);
    --color-javascript-background: rgba(101, 102, 39, 0.685);

    --color-react-border: rgb(39, 74, 102);
    --color-react-background: rgba(39, 74, 102, 0.685);

    --color-jetpack-compose-border: rgb(76, 166, 129);
    --color-jetpack-compose-background: rgba(76, 166, 129, 0.685);

    --color-html-border: rgb(150, 65, 26);
    --color-html-background: rgba(150, 65, 26, 0.685);

    --color-css-border: rgb(72, 45, 95);
    --color-css-background: rgb(72, 45, 95, 0.685);
}

:root.light-mode {
    --color-figma-border: rgb(34, 153, 85);
    --color-figma-background: rgb(63, 176, 118); /* +15% ljusare */

    --color-java-border: rgb(173, 115, 34);
    --color-java-background: rgb(197, 137, 58);

    --color-kotlin-border: rgb(153, 34, 173);
    --color-kotlin-background: rgb(176, 73, 196);

    --color-flutter-border: rgb(34, 153, 173);
    --color-flutter-background: rgb(62, 178, 196);

    --color-javascript-border: rgb(180, 180, 34);
    --color-javascript-background: rgb(206, 206, 62);

    --color-react-border: rgb(34, 115, 173);
    --color-react-background: rgb(60, 140, 197);

    --color-jetpack-compose-border: rgb(60, 170, 120);
    --color-jetpack-compose-background: rgb(84, 196, 147);

    --color-html-border: rgb(200, 70, 25);
    --color-html-background: rgb(224, 94, 49);

    --color-css-border: rgb(110, 50, 190);
    --color-css-background: rgb(132, 73, 210);
}


#proficiencies {
    margin-bottom: -1rem;
}

.proficiency-container {
    display: grid;
    gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    /* Default to 3 columns */
}

.proficiency-item {
    display: flex;
    /* Use flexbox to align logo and text horizontally */
    flex-direction: row;
    /* Align items in a row */
    background-color: var(--color-element-2-background);
    border-radius: 8px;
    width: 100%;
    padding: 0.5em;
    align-items: center;
    /* Vertically align logo and text */
    box-sizing: border-box;
}

.proficiency-logo {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border-width: 4px;
    border-style: solid;
    padding: 0.2em;
    flex-shrink: 0;
    /* Prevent the logo from shrinking */
}

#figma-logo {
    background-color: var(--color-figma-background);
    border-color: var(--color-figma-border);
}

#java-logo {
    width: 34px;
    height: 34px;
    padding: 6px;
    border-color: var(--color-java-border);
    background-color: var(--color-java-background);
}

#kotlin-logo {
    border-color: var(--color-kotlin-border);
    background-color: var(--color-kotlin-background);
    width: 32px;
    height: 32px;
    padding: 7px;
}

#flutter-logo {
    border-color: var(--color-flutter-border);
    background-color: var(--color-flutter-background);
    width: 32px;
    height: 32px;
    padding: 7px;
}

#javascript-logo {
    border-color: var(--color-javascript-border);
    background-color: var(--color-javascript-background);
    width: 32px;
    height: 32px;
    padding: 7px;
}

#react-logo {
    border-color: var(--color-react-border);
    background-color: var(--color-react-background);
    width: 32px;
    height: 32px;
    padding: 7px;
}

#jetpack-compose-logo {
    border-color: var(--color-jetpack-compose-border);
    background-color: var(--color-jetpack-compose-background);
    width: 32px;
    height: 32px;
    padding: 7px;
}

#html-logo {
    border-color: var(--color-html-border);
    background-color: var(--color-html-background);
    width: 32px;
    height: 32px;
    padding: 7px;
}

#css-logo {
    border-color: var(--color-css-border);
    background-color: var(--color-css-background);
    width: 32px;
    height: 32px;
    padding: 7px;
}

.proficience-description {
    margin-left: 10px;
    color: var(--color-text-titles);
}

.proficience-description h4 {
    color: var(--color-text-titles);
    margin: 0;
    font-size: 16px;
}

.proficience-description p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
    /* Dims paragraph text slightly */
}

.proficiency-item:hover {
    background-color: var(--color-element-2-background-hover);
    outline-width: 1px;
    outline-color: var(--color-element-hover-border);
    outline-style: solid;
}