@font-face {
    font-family: 'HeadingFont';
    src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'BodyFont';
    src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

/* Text styling  */
h1 {
    color: white;
    font-family: 'HeadingFont', sans-serif;
    font-weight: 800;
    /* Bold */
    font-stretch: 150%;
    /* Wider */
    font-size: xx-large;
}

h2 {
    color: white;
    font-family: 'HeadingFont', sans-serif;
    font-weight: 700;
    /* Semi-bold */
}

h3 {
    color: gray;
    font-family: 'HeadingFont', sans-serif;
    font-variation-settings: 'wght' 600, 'wdth' 100;
    /* Custom fine-tuning */
}

h4 {
    color: gray;
    font-family: 'HeadingFont', sans-serif;
    font-variation-settings: 'wght' 500;
    /* Light */
}

h5 {
    font-family: 'HeadingFont', sans-serif;
    font-variation-settings: 'wght' 200, 'slnt' -10;
    /* Light with slight slant */
}

h6 {
    font-family: 'HeadingFont', sans-serif;
    font-weight: 100;
    /* Extra light */
}

p {
    font-family: "BodyFont", sans-serif;
    font-variation-settings: 'wght' 400, 'opsz' 16;
    color: rgb(185, 185, 185);
}

span {
    font-family: "BodyFont", sans-serif;
    font-variation-settings: 'wght' 400, 'opsz' 16;
    font-size: 12px;
    color: rgb(185, 185, 185);

}

/* Image styling */

#portrait {
    max-width: 200px;
}

/* Content styling */
body {
    background-color: rgb(12, 12, 12);
}

header {
    margin-bottom: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    margin-left: 0.5rem;
    padding-bottom: 0 auto;
    gap: 1em;
    position: relative;
    z-index: 10;
    /* Ensures the header and its dropdown nav list have precedence */
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    padding-top: 0;
}

.sidebar {
    flex: 1;
    padding: 1rem;
}

.about {
    flex: 2;
    padding: 1rem;
}

/* General Button Styles */
button {
    background-color: rgb(37, 37, 37);
    color: rgb(230, 230, 230);
    border-radius: 6px;
    padding: 8px 12px;
    border: 2px solid rgb(70, 70, 70);
    font-family: "BodyFont", sans-serif;
    font-variation-settings: 'wght' 500, 'opsz' 16;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 8px;

    align-items: center;
    align-self: flex-start;
    width: auto;
    max-width: 100%;
}

button:hover {
    background-color: rgb(50, 50, 50);
    /* Lighter on hover */
    border-color: rgb(100, 100, 100);
    /* Brighter border on hover */
    transform: translateY(-2px);
    /* Slight lift effect */
}

button:active {
    transform: translateY(1px);
    /* Pressed effect */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    /* Reduced shadow when pressed */
}

/* Header Buttons */
#header-buttons {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5em;
    margin: 0;
}

/* Icons */
#header-buttons button img {
    max-width: 18px;
    height: auto;
}

/* Header navigation dropdown list */
.header-dropdown-navigation-list {
    position: relative;
}

#header-navigation-list {
    display: none;
    /* Initially hidden */
    position: absolute;
    /* Position relative to parent */
    top: 100%;
    /* Align just below the button */
    left: 0;
    background-color: rgb(37, 37, 37);
    /* Match the button background */
    color: rgb(230, 230, 230);
    list-style-type: none;
    padding: 0.5rem;
    margin-top: 8px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 6px;
    z-index: 20;
    /* Ensures it appears above other content */
}

/* Dropdown open state */
.nav-list li {
    overflow: hidden;
    font-family: "BodyFont", sans-serif;
    font-variation-settings: 'wght' 500, 'opsz' 16;
    color: rgb(230, 230, 230);
    ;
}

.nav-list li a {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: rgb(230, 230, 230);
    border-radius: 4px;
    transition:
        background-color 0.2s ease,
        transform 0.2s ease,
        color 0.2s ease;
    position: relative;
    overflow: hidden;
    font-family: "BodyFont", sans-serif;
    font-variation-settings: 'wght' 500, 'opsz' 16;
    font-size: small;
}

.nav-list li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.nav-list li a:hover {
    background-color: rgba(128, 128, 128, 0.2);
    /* Subtle hover effect */
    color: rgb(255, 255, 255);
}

.nav-list li a:hover::before {
    transform: translateX(0);
}

/* Sidebar Buttons */
#sidebar-resume-button {
    margin-bottom: 10px;
}

#sidebar-social-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.link-button img {
    max-width: 20px;
}

/* Proficiencies */
.proficiencies {
    display: grid;
    gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    /* Default to 3 columns */
}

.proficiency-item {
    display: flex;
    /* Use flexbox to align logo and text horizontally */
    flex-direction: row;
    /* Align items in a row */
    background-color: rgb(24, 24, 24);
    border-radius: 8px;
    width: 100%;
    padding: 0.5em;
    align-items: center;
    /* Vertically align logo and text */
    box-sizing: border-box;
}

.proficiency-logo {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border-width: 4px;
    border-style: solid;
    padding: 0.2em;
    flex-shrink: 0;
    /* Prevent the logo from shrinking */
}

#figma-logo {
    background-color: rgba(39, 102, 60, 0.685);
    border-color: rgb(39, 102, 60);
}

#java-logo {
    border-color: rgba(102, 80, 39);
    background-color: rgba(102, 80, 39, 0.685);
}

#kotlin-logo {
    border-color: rgb(97, 39, 102);
    background-color: rgba(97, 39, 102, 0.685);
}

#flutter-logo {
    border-color: rgb(39, 95, 102);
    background-color: rgba(39, 95, 102, 0.685);
    width: 32px;
    height: 32px;
    padding: 7px;
}

#javascript-logo {
    border-color: rgb(101, 102, 39);
    background-color: rgba(101, 102, 39, 0.685);
    width: 32px;
    height: 32px;
    padding: 7px;
}

#python-logo {
    border-color: rgb(39, 74, 102);
    background-color: rgba(39, 74, 102, 0.685);
}

.proficience-description {
    margin-left: 10px;
    /* Add spacing between logo and text */
    color: white;
}

.proficience-description h4 {
    color: white;
    margin: 0;
    /* Remove default margins */
    font-size: 16px;
}

.proficience-description p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
    /* Slightly dim paragraph text */
}

.proficiency-item:hover {
    background-color: rgb(36, 36, 36);
    outline-width: 1px;
    outline-color: gray;
    outline-style: solid;
}

/* EXPERIENCE */
.experience-container {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: 8px;
    border-color: gray;
    border-width: 1px;
}

.experience-item {
    display: grid;
    grid-template-columns: auto 1fr;
    /* First column auto, second column takes remaining space */
    column-gap: 50px;
    /* Spacing between columns */
}

.experience-view {
    position: relative;
    /* Make it the containing block for absolutely positioned children */
    display: flex;
    justify-content: center;
    /* Center the image horizontally */
    align-items: flex-start;
    /* Align the image and line vertically */
    width: 22px;
    /* Fixed width as needed */
}

.experience-line {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: gray;
    left: 35px;
    /* Center horizontally relative to the parent */
}

.experience-image {
    position: absolute;
    top: 25px;
    /* margin from the top of the experience-item */
    left: 15px;
    /* Center horizontally relative to the parent */
    max-width: 40px;
    /* Maintain size constraints */
    border-radius: 45px;
    /* Make it circular */
}


/* Custom resizing due to non-standard logos */
#slb-logo {
    max-width: 50px;
    top: 20px;
    left: 11px;
}

#tullinge-gymnasium-logo {
    max-width: 44px;
    top: 20px;
    left: 14px;
}

#nti-logo {
    max-width: 66px;
    top: 25px;
    left: 2px;
}

.experience-description {
    padding-top: 0.3em;
    grid-column: 2;
}

/* Some margin at the bottom for the final item */
.experience-description-final-item {
    margin-bottom: 0.5em;
}

.experience-description h4 {
    color: white;
    margin: 0;
    /* Remove default margins */
    margin-top: 0.2rem;
    font-size: 18px;
}

.experience-description h5 {
    color: white;
    margin-top: 0.3em;
    font-size: 16px;
    margin-bottom: 0.5em;
}

.experience-description p {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 0.2em;
    margin-right: 0.5em;
}

.experience-line-horizontal {
    margin-top: 0.6rem;
    width: 30%;
    height: 1px;
    background-color: gray;
}

/* PROJECTS */

.projects-container {
    column-count: 2;
    column-gap: 10px;
}

.project-item {
    background-color: rgb(24, 24, 24);
    border-radius: 8px;
    padding: 1rem;
    break-inside: avoid;
    margin-bottom: 10px;
}

.project-image {
    max-width: 100%;
    border-radius: 8px;
}

.project-title {
    display: flex;
    gap: 7px;
}

.project-title p {
    padding-top: 5.5px;
}

.project-description h4 {
    color: white;
    margin-bottom: 0.3rem;
    /* Remove default margins */
    margin-top: 0.2rem;
    font-size: 18px;
}

.project-description h5 {
    color: white;
    margin-top: 0.3em;
    font-size: 16px;
    margin-bottom: 0.5em;
}

.project-description p {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 0.4em;
    margin-right: 0.5em;
}

.project-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}


/* Media query layouts for responsive design */

/* Mobile (0 - 650px width) - Fluid layout */
@media screen and (max-width: 650px) {
    header {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .sidebar {
        padding-bottom: 0;
    }

    .about {
        padding-top: 0;
    }

    body {
        margin: 0;
    }

    .wrapper {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    #portrait {
        max-width: 150px;
    }

    .proficiencies {
        grid-template-columns: 1fr;
        /* 1 column on mobile */
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    #header-buttons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #header-buttons button {
        flex-grow: 0;
        /* Prevent flexbox from stretching */
        flex-shrink: 0;
        /* Prevent shrinking if needed */
        width: auto;
        padding: 6px 10px;
    }

    #header-buttons button img {
        max-width: 16px;
    }
}

/* Tablet (651px - 1024px width) - Fluid layout */
@media screen and (min-width: 651px) and (max-width: 1024px) {
    header {
        padding-left: 0;
        padding-right: 0;
    }

    .wrapper {
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }

    #portrait {
        max-width: 150px;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .sidebar {
        max-width: 300px;
        margin: 0 auto;
        padding: 1em;
        position: sticky;
        top: 0;
        overflow-y: auto;
        /* Allow scrolling within sidebar if content is too long */
        align-self: flex-start;
        /* Align to the top of the flex container */
    }

    .proficiencies {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns on tablet */
    }
}

/* Laptop/Desktop (1025px - 1200px width) - Fluid layout */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .wrapper {
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar {
        max-width: 300px;
        margin: 0 auto;
        padding: 1em;
        position: sticky;
        top: 0;
        overflow-y: auto;
        /* Allow scrolling within sidebar if content is too long */
        align-self: flex-start;
        /* Align to the top of the flex container */
    }
}

/* Large Desktop (>1201px width) - Fixed layout */
@media screen and (min-width: 1201px) {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }


    .sidebar {
        max-width: 400px;
        margin: 0 auto;
        padding: 2rem;
        position: sticky;
        top: 0;
        overflow-y: auto;
        /* Allow scrolling within sidebar if content is too long */
        align-self: flex-start;
        /* Align to the top of the flex container */
    }

    header {
        max-width: 1145px;
        margin: 0 auto;
        margin-bottom: 0;
        padding: 2rem;
    }

    .about {
        padding: 2rem;
    }
}



/* Print style */
@media print {
    * {
        background: none !important;
        color: black !important;
    }

    body {
        font-family: serif;
        line-height: 1.5;
        margin: 2cm;
    }

    a {
        text-decoration: none;
    }
}